# Data Cleaning (Missing Values)

In [14]:
import pandas as pd
df = pd.read_excel('C:\\Users\\heeckim\\Desktop\\work\\12_python\\pyharry\\resources\\missing data.xlsx')

In [15]:
df.isna().sum() # 각 컬럼의 NA값의 합을 반환

e_code                      0
status                      0
hire_date                   0
service_agreement           0
job_level                   0
performance_rating_2018     0
performance_rating_2017     0
year_of_birth               0
gender                      0
distance_from_home          0
manager_changes             0
no_of_promotions            0
risk_of_attrition          14
potential_rating            0
bonus                       0
no_courses_taken            0
time_in_position            0
awards                      0
signon                      0
manager_sat                 0
employee_sat               21
salary_2017                 0
salary_2018                 0
dtype: int64

In [16]:
df.isna().sum()/df.count()*100 # 각 컬럼의 NA값의 비율을 반환

e_code                     0.000000
status                     0.000000
hire_date                  0.000000
service_agreement          0.000000
job_level                  0.000000
performance_rating_2018    0.000000
performance_rating_2017    0.000000
year_of_birth              0.000000
gender                     0.000000
distance_from_home         0.000000
manager_changes            0.000000
no_of_promotions           0.000000
risk_of_attrition          2.083333
potential_rating           0.000000
bonus                      0.000000
no_courses_taken           0.000000
time_in_position           0.000000
awards                     0.000000
signon                     0.000000
manager_sat                0.000000
employee_sat               3.157895
salary_2017                0.000000
salary_2018                0.000000
dtype: float64

In [17]:
df1=df.dropna() # NA인 Row 전체삭제

In [18]:
df.shape

(686, 23)

In [19]:
df1.shape

(661, 23)

In [20]:
df1.isna().sum()

e_code                     0
status                     0
hire_date                  0
service_agreement          0
job_level                  0
performance_rating_2018    0
performance_rating_2017    0
year_of_birth              0
gender                     0
distance_from_home         0
manager_changes            0
no_of_promotions           0
risk_of_attrition          0
potential_rating           0
bonus                      0
no_courses_taken           0
time_in_position           0
awards                     0
signon                     0
manager_sat                0
employee_sat               0
salary_2017                0
salary_2018                0
dtype: int64

In [21]:
df1=df['employee_sat']
df1=df1.fillna(0) # If N/A, fills 0
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
       ...
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [22]:
df1.isna().sum()

0

In [23]:
df1=df['employee_sat']
df1=df1.fillna(df1.mean) # If N/A, fill MEAN
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
       ...
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: object

In [24]:
df1.isna().sum()

0