# Tenure, Compa Ratio, Dummy variable

In [7]:
import pandas as pd
df = pd.read_excel('C:\\Users\\heeckim\\data_analytics\\HR Analytics Master Course with Excel, Python and R\\resources\\mean median mode.xlsx')
df['Tenure']=2018-df['year_of_joining'] # Tenure 계산
df['Tenure']

0        6
1       10
2        0
3        8
4        2
        ..
1465     5
1466     7
1467     6
1468     9
1469     4
Name: Tenure, Length: 1470, dtype: int64

In [8]:
df['Tenure'].describe()

count    1470.000000
mean        7.008163
std         6.126525
min         0.000000
25%         3.000000
50%         5.000000
75%         9.000000
max        40.000000
Name: Tenure, dtype: float64

In [1]:
df['compa_ratio']=df['salary_2018']/df['salary_2018'].median() # Compa Ratio 계산

NameError: name 'df' is not defined

In [10]:
df['compa_ratio']

0       1.167580
1       1.107495
2       0.421855
3       0.566743
4       0.681737
          ...
1465    0.527968
1466    2.016630
1467    1.293631
1468    1.078482
1469    0.865735
Name: compa_ratio, Length: 1470, dtype: float64

### Dummy Variable (카테고리형인 컬럼을 1과 0의 값으로 변환된 새로운 컬럼을 형성)

In [ ]:
import pandas as pd
df = pd.read_excel('C:\\Users\\heeckim\\data_analytics\\PyHarry\\resources\\mean median mode.xlsx')

In [2]:
df['department'].value_counts()

NameError: name 'df' is not defined

In [ ]:
import numpy as np
df['hr_dummy'] = np.where(df['department']=="Human Resources",1,0) # Department 컬럼이 Human Resource일 경우 1 반환, 아닐 경우 0을 반환

In [ ]:
df['s_dummy'] = np.where(df['department']=="Sales",1,0)

In [ ]:
df

In [ ]:
df['hr_dummy'].value_counts() # Department가 HR인 경우가 63개 아닌 경우가 1407개

In [ ]:
df=df.drop(['hr_dummy','s_dummy'],axis=1) # 더미로 생성한 hr_dummy와 s_dummy 삭제

In [ ]:
df

In [ ]:
df=pd.get_dummies(df) # 자동으로 컬럼명_벨류값으로 새로운 컬럼을 생성하여 벨류값과 일치할 경우 1 아닐 경우 0으로 반환

In [ ]:
df.head()

In [ ]:
df.apply(pd.Series.value_counts) # 자동으로 컬럼명_벨류값으로 새로운 컬럼을 생성하여 벨류값과 일치할 경우 1 아닐 경우 0으로 변환하여 합계를 반환