In [22]:
import pandas as pd
df = pd.read_excel('C:\\resources\\Skewness.xlsx')

In [23]:
df['age'].quantile([.0,.25,.5,.75,1]) # Age 컬럼의 각 퀀타일 값 반환

0.00    18.0
0.25    30.0
0.50    35.5
0.75    43.0
1.00    60.0
Name: age, dtype: float64

In [24]:
# 30 is 25th Percentile Value

In [25]:
bins = [18, 30, 35.5, 43, 60] # 각 퀀타일 값을 그룹핑

In [27]:
df['binned']=pd.cut(df['age'],bins) # df의 age 컬럼을 bins 기준으로 cut하여 binned에 저장

In [28]:
df['binned']

0      (35.5, 43.0]
1      (43.0, 60.0]
2      (35.5, 43.0]
3      (30.0, 35.5]
4      (18.0, 30.0]
           ...
681    (35.5, 43.0]
682    (30.0, 35.5]
683    (18.0, 30.0]
684    (35.5, 43.0]
685    (18.0, 30.0]
Name: binned, Length: 686, dtype: category
Categories (4, interval[float64]): [(18.0, 30.0] < (30.0, 35.5] < (35.5, 43.0] < (43.0, 60.0]]

In [29]:
# 로우1은 35.5에서 43사이에 소속됨

In [30]:
df['binned'].value_counts()

(35.5, 43.0]    184
(18.0, 30.0]    183
(43.0, 60.0]    159
(30.0, 35.5]    157
Name: binned, dtype: int64

In [32]:
df['age'].max()

60

In [33]:
df['age'].min()

18

In [34]:
df['age'].describe()

count    686.000000
mean      36.877551
std        9.335726
min       18.000000
25%       30.000000
50%       35.500000
75%       43.000000
max       60.000000
Name: age, dtype: float64

In [35]:
bins = [18, 32, 46, 60] # 3등분

In [37]:
df['binned1']=pd.cut(df['age'],bins)

In [38]:
df['binned1'].value_counts()

(32, 46]    319
(18, 32]    247
(46, 60]    117
Name: binned1, dtype: int64